<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <title>fmjs demo</title>
  </head>

  <body>

    <!--Add a file picker for the user to start the upload process -->
    <input type="button" id="userInfoButton" style="display: none" value="Console log user info" />
    <input type="button" id="authorizeButton" style="display: none" value="Authorize" />

    <!-- Load file manager scripts -->
    <script data-main="main" src="../../requirejs/require.js"></script>

  </body>
</html>
